# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Remove dist from gitignore for production purpose
# dist
bower_components
node_modules
npm-debug.log
vendor
